<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <title>Intranet Twitter - Escolta Activa</title>
  <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  {{!-- <link href="/lib/css/bootstrap-year-calendar.min.css" rel="stylesheet"> --}}
  <link href="/lib/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/lib/css/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

{{{body}}}

</body>
</html>
