{{> menubar}}

<div class="container-fluid">

  <!-- ====== -->
  <!-- Título -->
  <!-- ====== -->
  <div class="row">
    <div class="col-md-12">
      <br><br>
    </div>
  </div>

  <!-- ============= -->
  <!-- Year calendar -->
  <!-- ============= -->
<!--   <div class="row">
    <div class="col-md-12">
      <div id="yearCalendar">
      </div>
    </div>
  </div> -->

  <!-- ======================= -->
  <!-- Data Availability Panel -->
  <!-- ======================= -->
  <div class="row">
    <div class="col-md-12">
      <div id="availabilityPanel">
      </div>
    </div>
  </div>

</div>  <!-- fin container-fluid -->

{{> footer_scripts}}

<script type="text/javascript" src="/js/data_availability.js"></script>

<!-- <script type="text/javascript" src="/lib/js/bootstrap-year-calendar.min.js" charset="UTF-8"></script> -->
<!-- <script type="text/javascript">
    $(function() {
        $('#yearCalendar').calendar();
    });
</script> -->
