{{> menubar reports_is_active=true}}

<style type="text/css">
  .zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }

  .zoom:hover,
  .zoom:active,
  .zoom:focus {
    /**adjust scale to desired size,
    add browser prefixes**/
    -ms-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    transform: scale(2.5);
    position:relative;
    z-index:100;
  }
</style>

<div class="container-fluid">

  <!-- ====== -->
  <!-- Título -->
  <!-- ====== -->
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <h3>Reports COVID</h3>
    </div>
  </div>

  <!-- ========== -->
  <!-- Formulario -->
  <!-- ========== -->
  <div class="row well">
    <div class="col-md-12">
      <form id="searchForm" class="form-inline">
          <div class="form-group">
            <label>Any</label>
            <select name="year" class="form-control">
            </select>
          </div>

          <button id="searchButton" type="submit" class="btn btn-default">Cercar</button>
      </form>
    </div>
  </div>

  <!-- ============ -->
  <!-- Status panel -->
  <!-- ============ -->
  <div class="row">
    <div class="col-md-12">
      <div id="statusPanel">
      </div>
    </div>
  </div>

  <!-- ================ -->
  <!-- Tabla de reports -->
  <!-- ================ -->
  <div class="row">
    <div class="col-md-12">
      <div id="reportsCovidTable">
      </div>
    </div>
  </div>
</div>  <!-- fin container-fluid -->

{{> footer_scripts}}

<script src="/lib/js/Chart.js"></script>
<script type="text/javascript" src="/js/reports_covid.js"></script>
<!-- ======================================= -->
<!-- Available years (selector options)      -->
<!-- ======================================= -->
<script type="text/javascript">
    $(function() {
        var myOptions = [new Date().getFullYear()];
        var mySelect = $("[name='year']");
        $.each(myOptions, function(val) {
          mySelect.append(
              $('<option></option>').val(myOptions[val]).html(myOptions[val])
          );
        });
    });
</script>
