{{> menubar tweets_is_active=true}}

<br><br>
<div id="react-app">
</div>

<!-- Librerías necesarias para que funcione el menú Bootstrap -->
<script type="text/javascript" src="/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/react-build/viralTweetsApp_bundle.js"></script>
