<br>
<div class="row">
  <div class="col-md-4">

    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Seleccioni el camp <strong>{{form_field}}</strong>
    </div>

  </div>
</div>