<p>Trobats <strong>{{total_reports}}</strong> zips de <strong>{{source}} TURISME</strong>.</p>
<ul class="list-group">
  <table border="0"  width="100%">
  {{#each reports}}
    {{{zip_html}}}
  {{/each}}
  </table>
</ul>
