<p>Trobats <strong>{{total_reports}}</strong> zips de <strong>{{source}} COVID-TOURISM</strong>.</p>
<ul class="list-group">
  <table border="0"><tr>
  {{#each reports}}
    <td border=1 width="15%">
      {{{zip_html}}}
    </td>
  {{/each}}
    </tr></table>
</ul>
