<h4 class="text-center">Termes seleccionats (cadena per generar n&uacute;vol de tags)</h4>
<form id="termsForm">
  <div class="form-group">
    <textarea class="form-control" rows="10" name="termsTextarea"></textarea>
  </div>
  <button class="btn btn-default" id="removeLastTermButton">Esborra darrer terme</button>
  <button type="reset" class="btn btn-default">Netejar</button>
</form>
